.zkx-main-title {
	font-weight: bold;
	font-size: 20px;
	color: blue;
	margin: 4px;
}

.zkx-navigation-label {
	cursor: pointer;
}

.z-center.zkx-content-parent > .z-center-body {
}

.zkx-content-area {
	padding: 2px 2px 2px 2px;
}