<zk>
    <style>
.zkx-grid-layout span {
    margin-top: 4px;
}
    </style>
    <zscript><![CDATA[
                      ]]></zscript>
    <vlayout apply="org.jumin.zkx.showcase.widget.WidgetCreatorController" vflex="true">
        <hlayout valign="middle">
            <label value="Column count: " />
            <spinner id="columnCount" value="2" width="80px" constraint="no empty, no negative, no zero" />
            <button id="renderButton" label="Render" />
            <button id="rearrangeButton" label="Re-Arrange" />
        </hlayout>
        <div id="container" hflex="true" vflex="true" style="border: 1px blue solid; padding: 10px;" />
    </vlayout>                      
</zk>